
.red {
  color: #E74C3C !important;
}

.blue {
  color: #3498DB !important;
}

.green {
  color: #2ECC71 !important;
}

.orange {
  color: #E67E22 !important;
}

.purple {
  color: #9B59B6 !important;
}
